{{!-- <nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Магазин вещей</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      {{#if isHome}}
        <li class="active"><a href="/">Главная</a></li>
      {{else}}
        <li><a href="/">Главная</a></li>
      {{/if}}

      {{#if isCourses}}
        <li class="active"><a href="/courses">Категории</a></li>
      {{else}}
        <li><a href="/courses">Категории</a></li>
      {{/if}}

      {{#if isAuth}}
        {{#if isAdd}}
          <li class="active"><a href="/add">Добавить вещь</a></li>
        {{else}}
          <li><a href="/add">Добавить вещь</a></li>
        {{/if}} 

        {{#if isCard}}
          <li class="active"><a href="/card">Корзина</a></li>
        {{else}}
          <li><a href="/card">Корзина</a></li>
        {{/if}} 

        {{#if isOrder}}
          <li class="active"><a href="/orders">Заказы</a></li>
        {{else}}
          <li><a href="/orders">Заказы</a></li>
        {{/if}} 

        <li><a href="/auth/logout">Выйти</a></li>
      {{else}}
        {{#if isLogin}}
          <li class="active"><a href="/auth/login#login">Войти</a></li>
        {{else}}
          <li><a href="/auth/login#login">Войти</a></li>
        {{/if}} 
      {{/if}}
    </ul>
  </div>
</nav> --}}

<div class="header__container">
  <div class="background-darkened">
    <nav class="nav-header">
      <div class="nav__container container">
        <div class="burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="nav__logo-container">
          <a href="/"><img src="https://kept.com.ua/thumb/1Ebo/Republic Designs Y2K Logo.png"/>
          {{!-- <a href="/"><img src="https://ostriv.ua/skin/frontend/os/default/images/ostriv_v2.svg" alt="logo"></a> --}}
        </div>
        <div class="links__container burger__links">
          <div class="header__text-links">
            {{#if isHome}}
            <li class="active"><a href="/">Главная </a></li>
            {{else}}
            <li><a href="/">Главная</a></li>
            {{/if}}
            
            {{#if isCourses}}
            <li class="active"><a href="/courses">Категории</a></li>
            {{else}}
            <li><a href="/courses">Категории</a></li>
            {{/if}}
            
            {{#if isAuth}}
            {{#if isAdd}}
            <li class="active"><a href="/add">Добавить вещь</a></li>
            {{else}}
            <li><a href="/add">Добавить вещь</a></li>
            {{/if}}
            <li><a href="/auth/logout">Выйти</a></li>
            {{else}}
            {{#if isLogin}}
            {{!-- style="display:NONE" --}}
            <li class="active" ><a href="/auth/login#login">Войти</a></li>
            {{else}}
            <li ><a href="/auth/login#login">Войти</a></li>
            {{/if}}
            {{/if}}
        </div>
      </div>
  </div>
  </nav>
</div>
</div>