
<div class="header__container">
  <div class="background-darkened">
    <nav class="nav-header">
      <div class="nav__container container">
        <div class="burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="nav__logo-container">
          
          <a href="/"><img src="https://i.postimg.cc/VvjYYV6R/Republic-Designs-Y2-K-Logo.png"/>
          {{!-- <a href="/"><img src="https://ostriv.ua/skin/frontend/os/default/images/ostriv_v2.svg" alt="logo"></a> --}}
        </div>
        <div class="links__container burger__links">
          <div class="header__text-links">
            {{#if isHome}}
            <li class="active"><a href="/">Главная </a></li>
            {{else}}
            <li><a href="/">Главная</a></li>
            {{/if}}
            
            {{#if isCourses}}
            <li class="active"><a href="/catalog">Категории</a></li>
            {{else}}
            <li><a href="/catalog">Категории</a></li>
            {{/if}}
            
            {{#if isAuth}}
            {{#if isAdd}}
            <li class="active"><a href="/add">Добавить вещь</a></li>
            {{else}}
            <li><a href="/add">Добавить вещь</a></li>
            {{/if}}
            <li><a href="/auth/logout">Выйти</a></li>
            {{else}}
            {{#if isLogin}}
            {{!-- style="display:NONE" --}}
            <li class="active" ><a href="/auth/login#login">Войти</a></li>
            {{else}}
            <li ><a href="/auth/login#login">Войти</a></li>
            {{/if}}
            {{/if}}
        </div>
      </div>
  </div>
  </nav>
</div>
</div>