<div class="item-solo">
  <div class="main-item">
    <div class="main-section">
      <div class="item-image">
        <img id="main-image" src="{{course.img}}" alt="{{course.title}}">
      </div>
      <div class="product-thumbnails main-thumb">
        <div class="product-thumbnail">
          <img src="{{course.img2}}" alt="{{course.title}}">
        </div>
        <div class="product-thumbnail">
          <img src="{{course.img3}}" alt="{{course.title}}">
        </div>
        <div class="product-thumbnail">
          <img src="{{course.img}}" alt="{{course.title}}">
        </div>
      </div>
    </div>




    <div class="item-details">
      <div class="det-div">
        <h1 class="item-title">{{course.title}}</h1>
        <div class="item-price">{{course.price}}&#x20bd;</div>
        <hr class="linia">
        <div class="charac">
          <p>Категория: {{course.category}}</p>
          <p>Цвет: {{course.color}}</p>
        </div>
        <p class="item-p">{{course.mainDesc}}</p>
        <p class="size-text">(Размер)</p>
        <nav class="item-sizes">
          {{#each sizeArr}}
          <a href="#" class="prod-sizes">
            {{this}}
          </a>
          {{/each}}
        </nav>

      </div>
      <div class="btn-div">

        <button class="product-add-to-cart">В наличии</button>
      </div>
    </div>
  </div>


  <div class="tabs">
    <div class="tab-2">
      <label for="tab2-1">Описание</label>
      <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
      <div>
        <h4>Описание</h4>
        <p>{{course.desc}}</p>
      </div>
    </div>
    <div class="tab-2">
      <label for="tab2-2">Характеристики</label>
      <input id="tab2-2" name="tabs-two" type="radio">
      <div>
        <h4>Характеристики</h4>
        <p>{{course.property}}</p>
      </div>
    </div>
  </div>
  <script>
    const mainImage = document.querySelector('#main-image');
    const thumbnails = document.querySelectorAll('.product-thumbnail');

    thumbnails.forEach(thumbnail => {
      thumbnail.addEventListener('click', () => {
        const newSrc = thumbnail.querySelector('img').src;
        mainImage.style.opacity = 0;
        setTimeout(() => {
          mainImage.src = newSrc;
          mainImage.style.opacity = 1;
        }, 200);
      });
    });

  </script>
</div>