
<p class="category-name" id="headName">{{items.catalog}}</p>
<div class="products-grid">
  {{#if items.length}}
  {{#each items}}
  <div class="product">
    <div class="product-image">
      <a href="/catalog/{{category}}/{{id}}"><img src="{{img}}" alt="{{title}}">
        <img
          src="{{img2}}"
          alt="hover-img" class="hover-image">
      </a>
    </div>
    <div class="product-info">
      <h2 class="product-name">{{title}}</h2>
      <div class="product-details">
        {{!-- <span class="product-size">Size: S, M, L, XL</span> --}}
        <span class="product-price">{{price}} &#x20bd;</span>
      </div>
      {{#if @root.isAuth}}
      <a href="/catalog/{{id}}/edit?allow=true">Редактировать</a>
      {{/if}}
    </div>
  </div>
  {{/each}}
  {{/if}}
</div>